* {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    /*display: block;*/

    background-image: url(../../images/pattern.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    
}

h2 {
    font-weight: bold;
    font-size: 32px;
    color: white;
    background-color: mediumspringgreen;
}

h3 {
    font-weight: bold;
}

.bold-blue {
    color: blue;
    font-weight: bold;
}

#bg-r {
    background-color: lightcoral;
}

#bg-b {
    background-color: skyblue;
}